/*----Hatchling----- */
/*---------Beginning of Shared------------ */
.primary {
  background-color: #FFCC22;
  color: #444444; }

.primary-darker {
  background-color: #FFAA22;
  color: #222222; }

.primary-lighter {
  background-color: #FFEE88;
  color: #555555; }

.secondary {
  background-color: #55Bb99;
  color: #fff; }

.secondary-darker {
  background-color: #338866;
  color: #fff; }

.secondary-lighter {
  background-color: #AADDCC;
  color: #fff; }

.success {
  background-color: #669944;
  color: #fff; }

.success-darker {
  background-color: #448844;
  color: #fff; }

.success-lighter {
  background-color: #77AA55;
  color: #fff; }

.danger {
  background-color: #CC4433;
  color: #fff; }

.danger-darker {
  background-color: #994433;
  color: #fff; }

.danger-lighter {
  background-color: #DD5544;
  color: #fff; }

.info {
  background-color: #226688;
  color: #fff; }

.info-darker {
  background-color: #005566;
  color: #fff; }

.info-lighter {
  background-color: #5599AA;
  color: #fff; }

.warning {
  background-color: #FFAA44;
  color: #444444; }

.warning-darker {
  background-color: #EE9933;
  color: #222222; }

.warning-lighter {
  background-color: #FFBB55;
  color: #555555; }

.dark {
  background-color: #444444;
  color: #fff; }

.dark-darker {
  background-color: #222222;
  color: #fff; }

.dark-lighter {
  background-color: #555555;
  color: #fff; }

.light {
  background-color: #CCCCCC;
  color: #444444; }

.light-darker {
  background-color: #BBBBBB;
  color: #222222; }

.light-lighter {
  background-color: #EEEEEE;
  color: #555555; }

body {
  font-family: Merriweather, "Helvetica Neue", Arial, sans-serif;
  width: 100%;
  height: 100%; }

hr {
  max-width: 200px;
  border-color: #FFCC22;
  border-width: 3px; }

a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s; }
  p a {
    color: #0099FF;
    cursor: pointer;
    font-weight: 700;
    padding: 0.2em 0.2em 0.2em 0.2em;
    text-decoration: underline; }
  a:hover, a:active, a:visited:hover {
    background-color: #FFCC22;
    color: #fff; }
  a:visited {
    color: #005566; }

h1, h2, h3, h4, h5, h6 {
  font-family: Merriweather, "Helvetica Neue", Arial, sans-serif; }

p {
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5; }

section {
  padding: 100px 0; }

aside {
  padding: 50px 0; }

.btn {
  border-radius: 0.5em;
  border: 0;
  font-family: Merriweather, "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0.5em;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  outline: none; }
  .btn:active, .btn.active, .btn.active:hover, .btn:active:hover {
    box-shadow: none;
    outline: none; }
  .btn:focus, .btn:focus:hover {
    outline: none; }
  .btn.disabled, .btn[disabled], fieldset[disabled] .btn, .btn.disabled:hover, .btn[disabled]:hover, fieldset[disabled] .btn:hover, .btn.disabled:focus, .btn[disabled]:focus, fieldset[disabled] .btn:focus, .btn.disabled.focus, .btn[disabled].focus, fieldset[disabled] .btn.focus, .btn.disabled:active, .btn[disabled]:active, .btn.disabled.active, .btn[disabled].active, fieldset[disabled] .btn.active {
    box-shadow: none;
    cursor: default;
    outline: none; }

.btn-default {
  color: #444444;
  background-color: #CCCCCC;
  box-shadow: 0 0.3em 0 0 #BBBBBB; }
  .btn-default:hover, .btn-default:focus, .btn-default.focus {
    color: #555555;
    background-color: #EEEEEE;
    box-shadow: 0 0.3em 0 0 #BBBBBB; }
  .btn-default:active, .btn-default.active, .btn-default.active:hover, .btn-default:active:hover {
    color: #222222;
    background-color: #BBBBBB; }
  .btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled.focus, .btn-default[disabled].focus, fieldset[disabled] .btn-default.focus, .btn-default.disabled:active, .btn-default[disabled]:active, .btn-default.disabled.active, .btn-default[disabled].active, fieldset[disabled] .btn-default.active {
    background-color: #EEEEEE; }

.btn-primary {
  color: #444444;
  background-color: #FFCC22;
  box-shadow: 0 0.3em 0 #FFAA22; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary.focus {
    color: #555555;
    background-color: #FFEE88;
    box-shadow: 0 0.3em 0 #FFAA22; }
  .btn-primary:active, .btn-primary.active, .btn-primary.active:hover, .btn-primary:active:hover {
    color: #222222;
    background-color: #FFAA22; }
  .btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
    background-color: #FFEE88; }

.btn-secondary {
  color: #fff;
  background-color: #55Bb99;
  box-shadow: 0 0.3em 0 #338866; }
  .btn-secondary:hover, .btn-secondary:focus, .btn-secondary.focus {
    color: #fff;
    background-color: #AADDCC;
    box-shadow: 0 0.3em 0 #338866; }
  .btn-secondary:active, .btn-secondary.active, .btn-secondary.active:hover, .btn-secondary:active:hover {
    color: #fff;
    background-color: #338866; }
  .btn-secondary.disabled, .btn-secondary[disabled], fieldset[disabled] .btn-secondary, .btn-secondary.disabled:hover, .btn-secondary[disabled]:hover, fieldset[disabled] .btn-secondary:hover, .btn-secondary.disabled:focus, .btn-secondary[disabled]:focus, fieldset[disabled] .btn-secondary:focus, .btn-secondary.disabled.focus, .btn-secondary[disabled].focus, fieldset[disabled] .btn-secondary.focus, .btn-secondary.disabled:active, .btn-secondary[disabled]:active, .btn-secondary.disabled.active, .btn-secondary[disabled].active, fieldset[disabled] .btn-secondary.active {
    background-color: #AADDCC; }

.btn-success {
  border-color: #669944;
  background-color: #669944;
  box-shadow: 0 0.3em 0 #448844; }
  .btn-success:hover, .btn-success:focus, .btn-success.focus {
    border-color: #77AA55;
    background-color: #77AA55;
    box-shadow: 0 0.3em 0 #448844; }
  .btn-success:active, .btn-success.active, .btn-success.active:hover, .btn-success:active:hover {
    background-color: #448844; }
  .btn-success.disabled, .btn-success[disabled], fieldset[disabled] .btn-success, .btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover, .btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus, .btn-success.disabled.focus, .btn-success[disabled].focus, fieldset[disabled] .btn-success.focus, .btn-success.disabled:active, .btn-success[disabled]:active, .btn-success.disabled.active, .btn-success[disabled].active, fieldset[disabled] .btn-success.active {
    background-color: #77AA55; }

.btn-info {
  border-color: #226688;
  background-color: #226688;
  box-shadow: 0 0.3em 0 #005566; }
  .btn-info:hover, .btn-info:focus, .btn-info.focus {
    border-color: #5599AA;
    background-color: #5599AA;
    box-shadow: 0 0.3em 0 #005566; }
  .btn-info:active, .btn-info.active, .btn-info.active:hover, .btn-info:active:hover {
    background-color: #005566; }
  .btn-info.disabled, .btn-info[disabled], fieldset[disabled] .btn-info, .btn-info.disabled:hover, .btn-info[disabled]:hover, fieldset[disabled] .btn-info:hover, .btn-info.disabled:focus, .btn-info[disabled]:focus, fieldset[disabled] .btn-info:focus, .btn-info.disabled.focus, .btn-info[disabled].focus, fieldset[disabled] .btn-info.focus, .btn-info.disabled:active, .btn-info[disabled]:active, .btn-info.disabled.active, .btn-info[disabled].active, fieldset[disabled] .btn-info.active {
    background-color: #5599AA; }

.btn-warning {
  color: #444444;
  border-color: #FFAA44;
  background-color: #FFAA44;
  box-shadow: 0 0.3em 0 #EE9933; }
  .btn-warning:hover, .btn-warning:focus, .btn-warning.focus {
    color: #555555;
    border-color: #FFBB55;
    background-color: #FFBB55;
    box-shadow: 0 0.3em 0 #EE9933; }
  .btn-warning:active, .btn-warning.active, .btn-warning.active:hover, .btn-warning:active:hover {
    color: #222222;
    background-color: #EE9933; }
  .btn-warning.disabled, .btn-warning[disabled], fieldset[disabled] .btn-warning, .btn-warning.disabled:hover, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning:hover, .btn-warning.disabled:focus, .btn-warning[disabled]:focus, fieldset[disabled] .btn-warning:focus, .btn-warning.disabled.focus, .btn-warning[disabled].focus, fieldset[disabled] .btn-warning.focus, .btn-warning.disabled:active, .btn-warning[disabled]:active, .btn-warning.disabled.active, .btn-warning[disabled].active, fieldset[disabled] .btn-warning.active {
    background-color: #FFBB55; }

.btn-danger {
  border-color: #CC4433;
  background-color: #CC4433;
  box-shadow: 0 0.3em 0 #994433; }
  .btn-danger:hover, .btn-danger:focus, .btn-danger.focus {
    border-color: #DD5544;
    background-color: #DD5544;
    box-shadow: 0 0.3em 0 #994433; }
  .btn-danger:active, .btn-danger.active, .btn-danger.active:hover, .btn-danger:active:hover {
    background-color: #994433; }
  .btn-danger.disabled, .btn-danger[disabled], fieldset[disabled] .btn-danger, .btn-danger.disabled:hover, .btn-danger[disabled]:hover, fieldset[disabled] .btn-danger:hover, .btn-danger.disabled:focus, .btn-danger[disabled]:focus, fieldset[disabled] .btn-danger:focus, .btn-danger.disabled.focus, .btn-danger[disabled].focus, fieldset[disabled] .btn-danger.focus, .btn-danger.disabled:active, .btn-danger[disabled]:active, .btn-danger.disabled.active, .btn-danger[disabled].active, fieldset[disabled] .btn-danger.active {
    background-color: #DD5544; }

.label {
  cursor: pointer;
  font-family: Merriweather, "Helvetica Neue", Arial, sans-serif;
  border-radius: 0.5em; }
  .label:hover {
    opacity: 0.8; }

.label-head {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.label-tail {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.switch-toggle {
  position: absolute;
  margin-left: -99999px;
  visibility: hidden; }
  .switch-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none; }

input.switch-toggle + label {
  padding: 2px;
  width: 60px;
  height: 30px;
  background-color: #BBBBBB;
  border-radius: 60px;
  -webkit-transition: background 0.35s;
  -moz-transition: background 0.35s;
  transition: background 0.35s; }
input.switch-toggle + label:before, input.switch-toggle + label:after {
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  content: ""; }
input.switch-toggle + label:before {
  right: 2px;
  background-color: #CCCCCC;
  border-radius: 10em;
  -webkit-transition: background 0.35s;
  -moz-transition: background 0.35s;
  transition: background 0.35s; }
input.switch-toggle + label:after {
  width: 28px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-transition: margin 0.35s;
  -moz-transition: margin 0.35s;
  transition: margin 0.35s; }
input.switch-toggle:checked + label:before {
  background-color: #55Bb99; }
input.switch-toggle:checked + label:after {
  margin-left: 28px; }

/*---------End of Shared------------ */

/*# sourceMappingURL=hatchling.css.map */
